@font-face {
  font-family: Unbounded-bold;
  src: url(/unbounded/TTF/Unbounded-Bold.ttf);
}
@font-face {
  font-family: Unbounded-extra-light;
  src: url(/unbounded/TTF/Unbounded-extra-light.ttf);
}
:root {
  font-family: Unbounded-bold;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #222;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  -webkit-text-stroke-width: 1px;
  font-size: 2.0em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  width: 500px;
  height: 500px;
}
.container button {
  font-family: Unbounded-bold;
  background-color: #ff5001;
  border: none;
  font-size: 50px;
  width: 500px;
  height: 500px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #222;
}
.container button:hover {
  background-color: #ef4000;
}
.container button:active {
  background-color: #df3000;
}
.container .wow button {
  background-color: #d80202;
}

.astar {
  background-image: url(/astar-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.moonbeam {
  background-image: url(/moonbeam-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wow {
  background-image: url(/moonbeam-logo.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.list {
  text-align: left;
  font-family: Unbounded-extra-light;
  font-size: 1.75em;
  display: flex;
  justify-content: center;
  -webkit-text-stroke-width: 0px;
}
.left {
  display:flex; 
  justify-content: left; 
  flex-direction: column; 
  align-items:flex-start;
}
